@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Test Pages</h1>
    <p>
        <img src="/Word.jpg" style="width:500px; height:600px" /> <hr />
        <img src="/Slide.jpg" style="width: 1000px;height:800px;" /> <hr />
        <img src="/Bitmap.jpg" style="width: 500px;height:500px;" />
    </p>
</div>
